In [5]:
# Import Dependencies
import pandas as pd

In [10]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
frames = [{"Frame": "Ornate", "Price": 15.0, "Sales": 100},
          {"Frame": "Classical", "Price": 12.5, "Sales": 200},
          {"Frame": "Modern", "Price": 20, "Sales": 250}
         ]
df_frames = pd.DataFrame(frames)
df_frames

       Frame  Price  Sales
0     Ornate   15.0    100
1  Classical   12.5    200
2     Modern   20.0    250

In [9]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

dict = {
    "Painting": ["Mona Lisa (Knockoff)", "Van Gogh (Knockoff)", "Starving Artist", "Toddler Drawing" ],
    "Popularity": ["Very Popular", "Popular", "Average", "Not Popular"],
    "Price": [25,20,10,1]
}

df_dicts = pd.DataFrame(dict)
df_dicts

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1